@mixin body {
    font-family: 'Roboto Mono', monospace;
    min-height:400px;
    // background-image:url('https://i.pinimg.com/originals/d6/a4/8a/d6a48a00ab2dfdd99f16c5e6c417fa87.jpg');
    // background:#0c0c0c;
    background-size:80vh;
    background-position:center bottom;
    background-repeat:no-repeat;
}

@mixin displayFlex {
    display:flex;
    align-items:center;
    flex-direction:column;
}

body {
    @include body();
    color:#1C1C1C;
}

.container {
    @include displayFlex;
    height:100vh;
    width:100%;
    background-image: url('https://www.kindpng.com/picc/m/99-990695_aladdin-png-galore-genie-aladdin-transparent-png.png');
    background-size:80vh;
    background-position:center bottom;
    background-repeat:no-repeat;
    
    .input-container {
        display:flex;
        justify-content:space-between;
        width:25%;
        margin-top:1em;
        font-size:18px;
    }

    button {
        width:200px;
        height:50px;
        margin-top:1.5em;
        font-size:20px;
    }

    #final {
        display:none;

        input {
            color:#fcfcfc;
        }
    }
}